:root {
  --primary: #2c1b47;
  --dark-primary: #1a1a1a;
  --light-primary: #3d2c61;
  --secondary: #ff7518;
  --dark-secondary: #800080;
  --light-secondary: #ffcc99;
  --accent: #ff0000;
  --gray: #888888;
  --light-gray: #0d0d0d;
  --dark-gray: #1f1f1f;
  --error: #ff0000;
  --success: #66ff66;
  --warning: #ff8c00;
  --white: #f5f5f5;
  --black: #000;
  --height: calc(100vh - 56px);
  --width: 100%;
  --fontFamily: "Roboto";
}

body {
  background-color: var(--light-gray);
  font-family: var(--fontFamily), sans-serif;
  margin: 0;
  padding: 0;
  color: var(--light-secondary);
}

.mdl-layout__header {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 0 0 10px var(--secondary);
}

.mdl-layout-title {
  color: var(--secondary);
  font-weight: bold;
}

.mdl-navigation__link {
  color: var(--white);
  font-weight: 500;
}

.mdl-navigation__link:hover {
  color: var(--accent);
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.floating-button button {
  background-color: var(--secondary);
  color: var(--black);
  box-shadow: 0 0 10px var(--accent);
}

.floating-button button:hover {
  background-color: var(--accent);
}

#main .card-wide {
  width: var(--width);
}

#modal-post-section {
  display: none;
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  bottom: 0;
  top: 56px;
  background: var(--dark-gray);
  text-align: center;
  transform: translateY(100vh);
  transition: transform 0.5s;
  color: var(--light-secondary);
}

.mdl-textfield__input {
  background-color: var(--light-primary) !important;
  color: var(--white) !important;
  border: 1px solid var(--secondary);
}

.mdl-textfield__input::placeholder {
  color: var(--light-secondary);
}
.mdl-textfield.is-focused .mdl-textfield__label,
.mdl-textfield.is-dirty .mdl-textfield__label {
  color: var(--light-secondary) !important;
}
.mdl-textfield__label {
  color: var(--light-secondary);
}

#btn-post-submit {
  background-color: var(--secondary);
  color: var(--white);
  box-shadow: 0 0 5px var(--secondary);
}

#btn-post-submit:hover {
  background-color: var(--accent);
}

#btn-post-cancel {
  background-color: var(--primary);
  color: var(--white);
}

#btn-post-cancel:hover {
  background-color: var(--dark-secondary);
}

.svg--container {
  position: relative;
}

.svg--container div {
  height: 210px;
  background: var(--dark-primary) url('../img/espe1.png');
  background-position: bottom;
  background-size: cover;
  object-fit: cover;
  color: var(--white);
  filter: brightness(70%);
}

.svg--container svg {
  position: absolute;
  bottom: 0;
  background: transparent;
}

#main .page-index {
  background: var(--dark-primary);
  height: var(--height);
}

.page--initial {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  opacity: 0.87;
  color: var(--gray);
  font-size: 1rem;
  line-height: 18px;
  font-weight: 400;
}

.page--initial i {
  font-size: 4rem;
  color: var(--secondary);
  min-width: 70px;
  padding: 10px;
  text-align: center;
}

.page--initial .description {
  background-color: var(--dark-gray);
  color: var(--light-secondary);
  border-radius: 7px;
  border: 1px solid var(--secondary);
  margin: 10px 10px;
  padding: 10px;
  width: calc(var(--width) - 20px);
}

.mdl-card {
  background-color: var(--dark-primary);
  color: var(--light-secondary);
  border: 1px solid var(--secondary);
  box-shadow: 0 0 10px var(--secondary);
}
